%% -*- erlang -*-
{require_otp_vsn, "R15B02|R15B03|R16B|17"}.

{erl_opts, [debug_info,
            warn_format,
            warn_export_all,
            warn_export_vars,
            warn_shadow_vars,
            warn_obsolete_guard,
            warn_unused_import]}.

%% {sub_dirs, ["."]}.

{deps, []}.

{xref_warnings,true}.

{xref_checks,[exports_not_used,undefined_function_calls]}.
